<section class="sign-in">

	<h2 class="heading-2--bold mb4">Sign in</h2>

	<%= simple_form_for :sessions, :url => sessions_path do |f| %>
		<%= f.input :email, 
				required: false, 
				input_html: { class: "input"}, 
				wrapper: false, 
				label_html: { class: "label" },
				placeholder: 'user@example.com' %>

		<%= f.input :password, 
				required: false, 
				input_html: { class: "input"}, 
				wrapper: false, 
				label_html: { class: "label" },
				placeholder: 'Enter your password' %>

		<%= f.button :submit, "Sign in", class:"btn-transparent mt3" %>
	<% end %>

</section>