<header class="header on-top-of-video">
  <div class="header__hero-image">
    <h1 class="heading-1 mb5">
      Premium Rice Wine
    </h1>
    <%= link_to 'Shop Online', products_path, class: "btn" %>
  </div>
</header>
<section class="main on-top-of-video">
  <div class="main__content">
    <h2 class="heading-2 mb3">
      Celebrate a special day
    </h2>
    <h3 class="heading-3 mb5">
      Limited Edition Premium Rice Wine
    </h3>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur nam hic placeat libero accusantium rem nisi nihil doloribus, pariatur, sunt ea facilis aspernatur dicta exercitationem esse cupiditate, repellendus possimus in.
    </p>
  </div>
  <div class="main__img">
    <%= image_tag 'ricewine_1.jpeg', class: "main__picture"%>
  </div>
</section>
<div class="video">
  <%= video_tag(['rice_wine_video.mp4', 'rice_wine_video.mp4'], class: "video__play", :autoplay => true, :loop => true, :muted => true, :playsinline => true) %>
</div>
<section class="about on-top-of-video">
  <div class="about__img">
    <%= image_tag 'ricewine_2.jpeg', class: "about__picture"%>
  </div>
  <div class="about__content">
    <h2 class="heading-2 mb3">
      About
    </h2>
    <h3 class="heading-3 mb5">
      Premium Rice Wine
    </h3>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur nam hic placeat libero accusantium rem nisi nihil doloribus, pariatur, sunt ea facilis aspernatur dicta exercitationem esse cupiditate, repellendus possimus in.
    </p>
  </div>
</section>
<section class="contact on-top-of-video">
  <div class="contact__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19376.01236207779!2d-79.42838098937615!3d43.78818719011227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc5d9645af2ab219!2sCenterpoint%20Mall!5e0!3m2!1sen!2sca!4v1589223261870!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="contact__google-map"></iframe>
  </div>
  <div class="contact__lists">
    <div class="contact__headings">
      <h2 class="heading-2 mb3">
        Contact
      </h2>
      <h3 class="heading-3--light mb5">
        We're happy to hear from you
      </h3>
    </div>
    <form action="#" method="POST" class="contact__form">
      <input type="text" class="name" name="name" placeholder="Your name" required>

      <input type="email" class="email" id="email" placeholder="Your email" required>

      <input type="text" class="subject" name="subject" placeholder="Subject" required>

      <textarea name="message" class="message" cols="30" rows="8" placeholder="Your message"></textarea>

      <input type="submit" value="Send" class="submit">
    </form>
  </div>
</section>
<footer class="footer on-top-of-video">
  <ul class="nav">
    <li class="nav__item">
      <a href="#" class="nav__link">About us</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">FAQ</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Shipping & Refunds</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Store Policy</a>
    </li>
  </ul>
  <ul class="sns">
    <li class="sns__item">
      <a href="#"><i class="fa fa-facebook-official sns__icon" aria-hidden="true"></i></a>
    </li>
    <li class="sns__item">
      <a href="#"><i class="fa fa-twitter sns__icon" aria-hidden="true"></i></a>
    </li>
    <li class="sns__item">
      <a href="#"><i class="fa fa-instagram sns__icon" aria-hidden="true"></i></a>
    </li>
  </ul>
  <p class="copyright">
    &copy; Copyright 2020 by Daseul Chun. All rights reserved. 
  </p>
</footer>
