<header class="header">
  <div class="header__hero-image">
    <h1 class="heading-1 mb5">
      Premium Rice Wine
    </h1>
    <%= link_to 'Shop Online', products_path, class: "btn" %>
  </div>
</header>
<section class="main">
  Main
</section>
<div class="video">
  Video
</div>
<section class="about">
  About
</section>
<section class="contact">
  Contact
</section>
<footer class="footer">
  Footer
</footer>
