<div>
  <article>
      <%= video_tag(['rice_wine_video.mp4', 'rice_wine_video.mp4'], id: "video-background", :autoplay => true, :loop => true, :muted => true, :playsinline => true)%>

      <div class="welcome-button">
       <%= link_to 'Go Shopping', products_path , class: "button is-primary is-outlined" %>
      </div>
  </article>
</div>