<header class="header on-top-of-video">
  <div class="header__hero-image">
    <h1 class="heading-1 mb5">
      Premium Rice Wine
    </h1>
    <%= link_to 'Shop Online', products_path, class: "btn" %>
  </div>
</header>
<section class="main on-top-of-video">
  <div class="main__content">
    <h2 class="heading-2 mb3">
      Celebrate a special day
    </h2>
    <h3 class="heading-3 mb5">
      Limited Edition Premium Rice Wine
    </h3>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur nam hic placeat libero accusantium rem nisi nihil doloribus, pariatur, sunt ea facilis aspernatur dicta exercitationem esse cupiditate, repellendus possimus in.
    </p>
  </div>
  <div class="main__img">
    <%= image_tag 'ricewine_1.jpeg', class: "main__picture"%>
  </div>
</section>
<div class="video">
  <%= video_tag(['rice_wine_video.mp4', 'rice_wine_video.mp4'], class: "video__play", :autoplay => true, :loop => true, :muted => true, :playsinline => true) %>
</div>
<section class="about on-top-of-video">
  <div class="about__img">
    <%= image_tag 'ricewine_2.jpeg', class: "about__picture"%>
  </div>
  <div class="about__content">
    <h2 class="heading-2 mb3">
      About
    </h2>
    <h3 class="heading-3 mb5">
      Premium Rice Wine
    </h3>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur nam hic placeat libero accusantium rem nisi nihil doloribus, pariatur, sunt ea facilis aspernatur dicta exercitationem esse cupiditate, repellendus possimus in.
    </p>
  </div>
</section>
<section class="contact on-top-of-video">
  Contact
</section>
<footer class="footer on-top-of-video">
  Footer
</footer>
