<section class="instructions">
  <h1 class="heading-1--dark">Instructions</h1>
  
  <div class="instructions__customer">
    <h2 class="heading-2 mb3">How to login as a Customer?</h2>
    <p>email: customer.user@example.com</p>
    <p>password: supersecret</p>
    <p>As a customer, you can add products to the cart</p>
  </div>

  <div class="instructions__admin">
    <h2 class="heading-2 mb3">How to login as a Admin User?</h2>
    <p>email: admin.user@example.com</p>
    <p>password: supersecret</p>
    <p>As a admin user, you can add/ edit/ delete products</p>
  </div>

  <%= link_to 'Back to Main', root_path , class: "instructions__btn btn-primary" %>
  
</section>
