// COLOR VARIABLES
$primary: #3E363F;
$link: #444;
$link-hover: #222;

$color-white: #fff;
$color-light-grey: #dddddd;
$color-primary: #4e4b42;
$color-primary-opacity: #4e4b42dc;
$color-primary-light: #d8d7ca;
$color-highlight: #bcb05e;
$color-highlight-light:#bfa760;

// FONTS
$font-primary: 'Cinzel', serif;
$font-display: 'Lato', sans-serif;

.title.white {
  color: white;
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  color: $color-primary;
  font-weight: 300;
  font-family: $font-display;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-rows: 7vh min-content;
  grid-template-columns: 
    [full-start] minmax(6rem, 1fr) 
    [content-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 
    minmax(6rem, 1fr) [full-end];
}

////////////////////////////////////
// NAVBAR
.navbar {
  grid-column: full-start / full-end;
  background-color: $color-primary;
  color: $color-white;

  z-index: 2;

  display: flex;
  align-items: center;

  &__brand {
    margin-right: auto;
  }

  &__list {
    align-self: stretch;

    display: flex;
  }
  
  &__item {
    padding: 0 1.5rem;
    transition: all .2s;
    display: flex;
    align-items: center;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
    }
    
    &:hover {
      background-color: $color-primary-light;
      color: $color-primary;
    }
  }
}

.cart {

  &__text {
    position: relative;
  }

  &__count {
    position: absolute;
    right: -15px;
    top: -6px;

    background-color: $color-highlight;
    color: $color-primary;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

////////////////////////////////////////////////
// FOOTER

.footer {
  grid-column: full-start / full-end;
  background-color: $color-primary;
  color: $color-white;
  padding: 8rem 10vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6vw;

  .nav {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 3vw;
    list-style: none;

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
      transition: all .2s;

      justify-self: end;
    }

    &__link:hover {
      color: $color-highlight;
    }
  }

  .sns {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-self: end;
    column-gap: 5vw;
    list-style: none;
    
    &__icon {
      color: $color-white;
      font-size: 2rem;
    }

    &__icon:hover {
      color: $color-highlight;
    }
  }

  .copyright {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 1.8rem;
    text-align: center;
  }
}