// COLOR VARIABLES
$primary: #3E363F;
$link: #444;
$link-hover: #222;

$color-white: #fff;
$color-primary: #4e4b42;
$color-primary-light: #d8d7ca;

// FONTS
$font-primary: 'Cinzel', serif;
$font-display: 'Lato', sans-serif;

.title.white {
  color: white;
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  color: red;
  font-weight: 400;
  font-family: $font-display;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-rows: 7vh 93vh repeat(6, min-content);
  grid-template-columns: 
    [full-start] minmax(6rem, 1fr) 
    minmax(min-content, 14rem) 
    [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 
    minmax(min-content, 14rem) 
    minmax(6rem, 1fr) [full-end];
}

////////////////////////////////////
// NAVBAR
.navbar {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-color: $color-primary;
  color: $color-white;

  display: flex;
  align-items: center;

  &__brand {
    margin-right: auto;
  }

  &__list {
    align-self: stretch;

    display: flex;
  }
  
  &__item {
    padding: 0 1.5rem;
    transition: all .2s;
    display: flex;
    align-items: center;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
    }
    
    &:hover {
      background-color: $color-primary-light;
      color: $color-primary;
    }
  }
}