%heading {
  font-weight: 300;
  text-transform: uppercase;
}

.heading-1 {
  @extend %heading;
  font-size: 6rem;
  color: $color-white;
}

.heading-1--dark {
  @extend %heading;
  font-size: 6rem;
  color: $color-primary;
}

.heading-2 {
  @extend %heading;
  font-size: 3rem;
}

.heading-2--bold {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
}

.heading-2--dark {
  @extend %heading;
  color: $color-primary;
  font-size: 3rem;
}

.heading-3 {
  @extend %heading;
  font-size: 1.7rem;
}

.heading-3::after {
  content: "";
  display: block;
  width: 20rem;
  height: 1.7px;
  background-color: $color-primary-light;
  margin: 0 auto;
  margin-top: 4rem;
}

.heading-3--light {
  @extend %heading;
  font-size: 1.7rem;
}

.heading-3--light::after {
  content: "";
  display: block;
  width: 20rem;
  height: 1px;
  background-color: $color-primary;
  margin: 0 auto;
  margin-top: 3rem;
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}

%btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-white {
  @extend %btn;
  border: 1px solid $color-white;
  padding: 1.5rem 4rem;
  color: $color-white;
  transition: all .2s;

  &:hover {
    background-color: rgba($color-primary-light, .5);
    border: 1px solid rgba($color-primary-light, .5);
  }
}

.btn-transparent {
  @extend %btn;
  border: 1px solid $color-primary-light;
  background-color: transparent;
  padding: 1rem;
  font-weight: 400;
  color: $color-primary;
  font-family: $font-display;
  transition: all .2s;
  
  &:hover {
    border: 1px solid $color-primary;
  }
}

.btn-transparent--small {
  padding: .7rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.btn-primary {
  @extend %btn;
  border: 1px solid $color-primary;
  background-color: transparent;
  padding: 1rem;
  font-weight: 400;
  color: $color-primary;
  font-family: $font-display;
  transition: all .2s;

  &:hover {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;
  }
}

.btn-dark {
  font-family: $font-display;
  display: inline-block;
  text-decoration: none;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.6rem;
  padding: 1rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $color-primary-opacity;
    border: 1px solid $color-primary-opacity;
  }
}