.drawer {
  display: none;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #000;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    background-color: #fafafa;
    transform: translateX(103%);
    box-shadow: 0 2px 6px #777;

    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }

  &__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  transform: translateX(0);
}

<%# Cart Items / tab-view %>
<figure class="carts-left-items__image tab-view">
  <%= image_tag(line_item.product.image) %>
</figure>

<%= link_to line_item.product.title, product_path(line_item.product), class: "carts-left-items__name tab-view" %>

<p class="carts-left-items__quantity tab-view"><%= line_item.quantity %></p>

<p class="carts-left-items__total-price tab-view"><%= number_to_currency(line_item.total_price) %></p>

<%= link_to 'Remove', line_item_path(line_item), method: :delete, data: { confirm: "Are you sure? " }, class: "btn-transparent carts-left-items__remove-btn tab-view" %>