.drawer {
  display: none;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #000;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    background-color: #fafafa;
    transform: translateX(103%);
    box-shadow: 0 2px 6px #777;

    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }

  &__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  transform: translateX(0);
}