.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color:lightgrey;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


// Thank-you Page

.thank-you {
  grid-column: full-start / full-end;
  height: 93vh;
  background-image: linear-gradient(rgba($color-primary-light, .75), rgba($color-primary-light, .75)), url(rice_wine_main_3.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you__heading {
  font-size: 10rem;
  font-weight: 300;
}

.thank-you__body {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}