<% content_for :header do %>
<header class="products-edit__intro">
  <h2 class="heading-2--dark">Edit the Product</h2>
</header>
<% end %>

<main class="products-edit__form">
  <%= render 'form', product: @product %>
</main>