<% content_for :header do %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Rice Wine Products
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="product-index-grid pt4">
  <% @products.each do |product| %>

    <div class="product border-light ">
      <div class="product-thumb">
      <%= link_to image_tag(product.image.variant(resize: '500X500')), product_path(product) %>
    </div>

    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to product.title, product_path(product) %></h3>

      <p class="has-text-gray fg pt1">Sold by <%= product.user.full_name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>

      <p>need to add cancancan for edit/delete</p>

    </div>
  </div>
  <% end %>
</div>