<% content_for :header do %>
<header class="products-new__intro">
  <h2 class="heading-2--dark">Add a Product</h2>
</header>
<% end %>

<main class="products-new__form">
  <%= render 'form', product: @product %>
</main>